version: "3.7"

services:
  web:
    image: nginx:alpine
    depends_on:
      - php
    restart: unless-stopped
    ports:
      - 12000:80
    environment:
      TZ: Asia/Hong_Kong
    volumes:
      - ./code:/code
      - ./logs:/logs
      - ./nginx:/etc/nginx/conf.d

  php:
    build: ./php
    image: jw/php74-fpm
    depends_on:
      - redis
      - db
      - mssql
    restart: unless-stopped
    environment:
      TZ: Asia/Hong_Kong
    volumes:
      - ./code:/code
      - ./logs:/logs

  db:
    image: mysql:8
    restart: unless-stopped
    ports:
      - 12002:3306
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: laravel
    volumes:
      - db:/var/lib/mysql
    command: --default-authentication-plugin=mysql_native_password

  redis:
    image: redis:5-alpine
    restart: unless-stopped
    ports:
      - 12003:6379
    volumes:
      - redis:/data

  mssql:
    image: mcr.microsoft.com/mssql/server:2017-latest
    restart: unless-stopped
    ports:
      - "12004:1433"
    environment:
      ACCEPT_EULA: Y
      SA_PASSWORD: p@ssw0rd
    volumes:
      - mssql:/var/opt/mssql

volumes:
  db:
  redis:
  mssql:
